.gridContainerForms {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Title {
  text-align: center;
}

.SubTitle {
  text-align: center;
  margin: 10px 0 25px 0;
}

.gridDetailsRegister {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 0 10px;
}

.gridDetailsRegister h4 {
  padding: 0;
  margin: 0;
}


.gridDetailsRegister .action {
  text-align: center;
}