.btnMenuSidebar {
  width: 90%;
  padding: 10px;
  border: solid 1px #303030;
  border-radius: 1rem;
  margin: 5px auto;
  cursor: pointer;
}

.linkUrl {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}